@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Verlag-Book';
	src:url('/fonts/Verlag-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Verlag-Book';
	src:url('/fonts/Verlag-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Slim-Joe';
	src:url('/fonts/Slim-Joe.woff?d7yf1v') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(31, 41, 55, 1);
	background-image: -webkit-linear-gradient(45deg,
			rgba(255, 255, 255, .2) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, .2) 50%,
			rgba(255, 255, 255, .2) 75%,
			transparent 75%,
			transparent)
} */

